.Mheader {
    background-color: gold;
}

.Mfooter {
    color: black;
    background-color: gold;
}

.Formulario {
    font-weight: bolder;

}

.asd {
    border-width: 2px;
    border-color: crimson;
}